<div class="h-100 my-4">
  <h1 class="d-flex justify-content-center mb-5">YOUR SCORE: {{score}} point(s)</h1>
  <div
    class="col-12 col-md-6 flex-md-row flex-column d-flex justify-content-center mx-auto gap-3"
  >
    <div class="dropdown text-center">
      <button
        class="btn dropdown-toggle mx-2 border border-2"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ selectedLanguage }}
      </button>
      <ul class="dropdown-menu">
        <li>
          @for(doc of availableLanguages; track doc) {
          <button
            class="dropdown-item"
            (click)="onselectedItem(doc)"
            role="button"
            [ngClass]="{ active: doc === selectedLanguage }"
          >
            {{ doc }}
          </button>
          }
        </li>
      </ul>
    </div>

    <div class="dropdown text-center">
      <button
        class="btn dropdown-toggle mx-2 border border-2"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        [disabled]="selectedLanguage === 'Select Language'"
      >
        Select Task
      </button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item" role="button" (click)="toInstructions()">Take Test!</button></li>
        <li>
          <button class="dropdown-item" role="button" disabled>
            Check stats
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
