<nav class="container d-flex justify-content-between pt-3">
    <div>
        Quizzi&ecirc;</div>
    <div>
        <div class="d-flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 24" width="20" height="20" fill="currentColor"
                aria-label="Dark Mode Icon" role="button" (click)="themeService.toggleTheme()">
                <path
                    d="M9.37 2.13a1 1 0 0 1 1.14.37 8.51 8.51 0 0 0 11.16 11.16 1 1 0 0 1 .37 1.14 10.51 10.51 0 1 1-12.67-12.67Z" />
            </svg>help
        </div>
    </div>
</nav>
<hr>