<h1>Instructions:</h1>

<ol>
  <li>
    <h6>
      This quiz has 2 modes:
      <ol type="a">
        <li>Competitive Mode</li>

        <li>Practise Mode</li>
      </ol>
    </h6>
  </li>

  <li>
    <h6>
      In Competitive mode, you will be having a time limit and fixed number of
      questions and will <b>'not be Allowed'</b> to go back once saved
    </h6>
  </li>

  <li>
    <h6>
      In Practise Mode of Quiz, you will be having no time limit and given a
      choice of choosing any question at any point of time.
    </h6>
  </li>

  <li>
    <h6>
      Your score will be calculated based only on the attempted Competitive mode
      questions. Please, Select Competitive mode if you want to increase the
      score. To understand how the score is calculated, please check the FAQs in
      the 'Help' section
    </h6>
  </li>

  <li>
    <h6>No variation in score for the practise mode attempted</h6>
  </li>

  <li>
    <h6>
      The score is exponential in nature, depending upon the 3 factors: Time
      takenn, Number of correct questions, Number of Incorrect Questions
    </h6>
  </li>
</ol>

<h1 class="text-center">Select the mode of Quiz:</h1>

<div class="d-flex justify-content-center gap-4">
  <p-button label="Competitive" severity="success" />

  <p-button label="Practice" severity="info" />
</div>

<p-button
  label="Cancel"
  severity="secondary"
  (click)="onCancel()"
  styleClass="position-absolute bottom-0 start-0 mb-3 ms-3 border border-2"
/>
